@model EMDomain.Aluno

@{
    ViewData["Title"] = "Excluir";
}

<h1 class ="text-center">Excluir</h1>

<h3>Você deseja exluir esse aluno?</h3>
<div>
    <h5>Aluno</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
    </dl>
    
    <form asp-action="Excluir">
        <input type="hidden" name="matricula" value="@Model.Matricula" />
        <input type="submit" value="Excluir" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-secondary">Retornar a lista de alunos</a>
    </form>
    
</div>
