@model EMDomain.Aluno

@{
    ViewData["Title"] = "FichaDoAluno";
}

<h1 class ="text-center">FichaDoAluno</h1>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-xl-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-xl-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-xl-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-xl-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-xl-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-xl-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-xl-2">
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>
        <dd class = "col-xl-10">
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
        <dt class = "col-xl-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-xl-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new { matricula = Model.Matricula }) |
    @Html.ActionLink("Exluir", "Excluir", new { matricula = Model.Matricula }) |
    <a asp-action="Index" class="btn btn-secondary">Retornar a lista de alunos</a>
</div>
